@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050a10;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar for that premium look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050a10;
}
::-webkit-scrollbar-thumb {
  background: #00d2ff;
  border-radius: 10px;
}
